* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
@media only screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    width: 60%;
  }
}
a {
  word-break: break-all;
  transition: 0.5s;
}
.division {
  width: 100%;
  margin: 5px 0 10px 0;
  border-bottom: 1px solid #d9dde4;
}
.hideoverflow {
  overflow: hidden;
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes rotate {
  10% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(-5deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-webkit-keyframes rotate {
  10% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(-5deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-o-keyframes rotate {
  10% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(-5deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes rotate {
  10% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(-5deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}
.header-wrapper {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-title-wrapper {
  padding: 40px 0 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-title {
  font-family: "Helvetica Neue", "Helvetica", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei", "Arial", sans-serif;
  font-size: 2em;
}
.header-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-btn-wrapper {
  margin: 5px auto;
}
.header-btn {
  display: inline-block;
  margin: 10px 10px;
  font-size: 20px;
}
.header-btn:hover {
  animation: rotate 0.5s;
}
.division {
  width: 100%;
  margin: 5px 0 10px 0;
  border-bottom: 1px solid #d9dde4;
}
.hideoverflow {
  overflow: hidden;
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes rotate {
  10% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(-5deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-webkit-keyframes rotate {
  10% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(-5deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-o-keyframes rotate {
  10% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(-5deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes rotate {
  10% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(-5deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}
.index-wrapper {
  margin: 30px 0;
  animation: fadeIn 1s;
}
.index-post-wrapper {
  position: relative;
  width: 100%;
  height: 150px;
  margin: 0 0 130px 0;
}
.index-post-info {
  width: 100%;
  display: none;
}
.index-post-title {
  display: block;
  width: 100%;
  font-family: "Helvetica Neue", "Helvetica", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei", "Arial", sans-serif;
  font-size: 1.8em;
}
.index-post-title:hover {
  text-decoration: none;
}
.index-post-meta {
  float: right;
  margin: 7px auto;
}
.index-post-time {
  margin: 0 10px 0 0;
}
.division {
  width: 100%;
  margin: 5px 0 10px 0;
  border-bottom: 1px solid #d9dde4;
}
.hideoverflow {
  overflow: hidden;
}
.pagination-wrapper {
  margin: 150px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.2em;
}
.pagination-wrapper ul {
  position: relative;
  right: 10px;
  list-style-type: none;
}
.pagination-wrapper li {
  display: inline-block;
}
.pagination-wrapper a {
  width: 40px;
  display: block;
}
.division {
  width: 100%;
  margin: 5px 0 10px 0;
  border-bottom: 1px solid #d9dde4;
}
.hideoverflow {
  overflow: hidden;
}
.categories-wrapper {
  position: relative;
  top: 30px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue", "Helvetica", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei", "Arial", sans-serif;
  font-size: 1.3em;
}
.categories-wrapper ul {
  list-style-type: none;
  text-align: center;
}
.categories-wrapper li {
  display: block;
  margin: 30px auto;
}
.categories-wrapper a {
  text-decoration: none;
}
.division {
  width: 100%;
  margin: 5px 0 10px 0;
  border-bottom: 1px solid #d9dde4;
}
.hideoverflow {
  overflow: hidden;
}
.archive-wrapper {
  width: 80%;
  margin: 20px 10%;
  font-family: "Helvetica Neue", "Helvetica", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei", "Arial", sans-serif;
  font-size: 1em;
}
.archive-wrapper a {
  text-decoration: none;
  margin: 10px auto;
}
.archive-post-title {
  font-family: "Helvetica Neue", "Helvetica", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei", "Arial", sans-serif;
  font-size: 1.1em;
}
.archive-block {
  margin: 60px auto;
}
.division {
  width: 100%;
  margin: 5px 0 10px 0;
  border-bottom: 1px solid #d9dde4;
}
.hideoverflow {
  overflow: hidden;
}
.footer-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue", "Helvetica", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei", "Arial", sans-serif;
  font-size: 1em;
}
.footer-banner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.footer-banner-wrapper a {
  font-weight: bold;
}
.footer-banner-wrapper a:hover {
  text-decoration: none;
}
.division {
  width: 100%;
  margin: 5px 0 10px 0;
  border-bottom: 1px solid #d9dde4;
}
.hideoverflow {
  overflow: hidden;
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes rotate {
  10% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(-5deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-webkit-keyframes rotate {
  10% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(-5deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-o-keyframes rotate {
  10% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(-5deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes rotate {
  10% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(-5deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}
.post-wrapper {
  position: relative;
  margin: 20px 0 100px 0;
  animation: fadeIn 1.2s;
  display: flex;
  flex-direction: column;
}
.post-content {
  font-family: "Helvetica Neue", "Helvetica", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei", "Arial", sans-serif;
  line-height: 200%;
}
.post-content blockquote {
  overflow: auto;
}
.post-content img {
  display: block;
  padding: 7px;
  box-shadow: #666 0px 0px 7px;
  max-width: 75%;
}
.post-content img:hover {
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .post-content {
    font-size: 1.1em;
  }
}
@media only screen and (min-width: 768px) {
  .post-content {
    font-size: 1.2em;
  }
}
.catalog-dropdown {
  position: absolute;
}
.toc {
  padding: 10px 10px;
  font-family: "Helvetica Neue", "Helvetica", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei", "Arial", sans-serif;
  font-size: 1em;
  background-color: #fff;
  box-shadow: #808080 0 0 3px;
}
.toc li {
  list-style: none;
}
.toc a {
  width: 110px;
}
@media only screen and (max-width: 768px) {
  .toc {
    width: 320px;
    margin: 0 auto;
  }
  .toc li {
    width: 230px;
    margin: 3px 0;
  }
}
@media only screen and (min-width: 768px) {
  .toc {
    width: 310px;
    position: absolute;
    left: -250px;
  }
  .toc li {
    width: 180px;
  }
}
.bgmusic {
  margin: 0 auto;
}
code {
  word-break: break-all;
}
.post-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0 0;
}
.post-info-categories,
.post-info-tags {
  font-family: "Helvetica Neue", "Helvetica", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei", "Arial", sans-serif;
  font-size: 1.2em;
}
.division {
  width: 100%;
  margin: 5px 0 10px 0;
  border-bottom: 1px solid #d9dde4;
}
.hideoverflow {
  overflow: hidden;
}
.author-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 50px auto;
}
.author-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.avatar-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slogan {
  font-family: "Helvetica Neue", "Helvetica", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei", "Arial", sans-serif;
  font-size: 1.3em;
  padding: 50px 50px;
  text-align: center;
}
.avatar {
  width: 100px;
  height: 100px;
}
.author-name {
  margin: 10px auto;
  font-family: "Helvetica Neue", "Helvetica", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei", "Arial", sans-serif;
  font-size: 1.2em;
}
.gallery-thumbnail-wrapper {
  height: 150px;
}
.gallery-thumbnail {
  width: 100%;
  height: 130px;
  background-size: cover;
  box-shadow: #666 0px 0px 4px;
  transition: 0.5s;
}
.gallery-thumbnail:hover {
  cursor: pointer;
  box-shadow: #666 0px 0px 15px;
  transform: scale(1.1);
}
.lightbox {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}
.lightbox:hover {
  cursor: pointer;
}
.gallery-photo {
  margin: auto;
  display: block;
  max-height: 95%;
  max-width: 95%;
}
.gallery-photo:hover {
  cursor: auto;
}
.close-gallery {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close-gallery:hover,
.close-gallery:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes rotate {
  10% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(-5deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-webkit-keyframes rotate {
  10% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(-5deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-o-keyframes rotate {
  10% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(-5deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes rotate {
  10% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(-5deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}
.division {
  width: 100%;
  margin: 5px 0 10px 0;
  border-bottom: 1px solid #d9dde4;
}
.hideoverflow {
  overflow: hidden;
}
#to-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 35px;
  height: 35px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 50%;
  outline: none;
  font-size: 2.2em;
}
#to-top a {
  text-decoration: none;
}
#to-top:active {
  animation: rotate 0.5s;
}
